<div class="table-responsive">



	<div class="col-md-2 col-xs-9 nopadding">
		<input type="text" class="form-control"
			placeholder="Enter text to search" id="searchText"
			ng-keyup="listBooks()" ng-model="searchText">
	</div>



	<div align="right">
		<button type="button" class="btn btn-info" data-toggle="modal"
			ng-click="showCreateBookModal()">
			<span class="glyphicon glyphicon-plus-sign"></span> Create New Book
		</button>
	</div>
	
	<count-books-chart data="booksCountByPublisher"> </count-books-chart>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Book Title</th>
				<th>Book Publisher</th>
				<th>Book Authors</th>
				<th>Book Genres</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="book in books">
				<td>{{book.title}}</td>
				<td>{{book.publisher.publisherName}}</td>
				<td><span ng-repeat="author in book.authors">
						{{author.authorName}}&nbsp, </span></td>
				<td><span ng-repeat="genre in book.genres">
						{{genre.genreName}}&nbsp, </span></td>
				<td><button type="button" class="btn btn-primary"
						ng-click="showEditBookModal(book)">Edit</button></td>
				<td><button type="button" class="btn btn-danger"
						ng-click="showDeleteBookModal(book)">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>
<div align="middle">
	<uib-pagination total-items="totalBooks" ng-model="currentPage"
		items-per-page="pageSize" max-size="maxSize" boundary-links="true"
		num-pages="numPages"></uib-pagination>
</div>
