<div class="table-responsive">



	<div class="col-md-2 col-xs-9 nopadding">
		<input type="text" class="form-control"
			placeholder="Enter text to search" id="searchText"
			ng-keyup="listPublishers()" ng-model="searchText">
	</div>



	<div align="right">
		<button type="button" class="btn btn-info" data-toggle="modal"
			ng-click="showCreatePublisherModal()">
			<span class="glyphicon glyphicon-plus-sign"></span> Create New Publisher
		</button>
	</div>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Publisher Name</th>
				<th>Publisher Address</th>
				<th>Publisher Phone</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="publisher in publishers">
				<td>{{publisher.publisherName}}</td>
				<td>{{publisher.address}}</td>
				<td>{{publisher.phone}}</td>
				<td><button type="button" class="btn btn-primary"
						ng-click="showEditPublisherModal(publisher)">Edit</button></td>
				<td><button type="button" class="btn btn-danger"
						ng-click="showDeletePublisherModal(publisher)">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>
<div align="middle">
	<uib-pagination total-items="totalPublishers" ng-model="currentPage"
		items-per-page="pageSize" max-size="maxSize" boundary-links="true"
		num-pages="numPages"></uib-pagination>
</div>
