<div modal="createAuthorModal">
	<div class="modal-header">
		<h4 class="modal-title">Create Author</h4>
		<div class="modal-header">
			<div class="modal-body">
				New Author Name: <input type="text" class="form-control"
					ng-model='name' />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="add()">Add</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
