<div class="modal fade" id="createBookModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Create Book</h4>
				</div>
				<div class="modal-body">
					<form name="addBookForm" action="addBook" method="post">
						New Book Title: <input type="text" name="bookTitle" class="form-control" id="crtBkTitle"/> 
						
						<br>New Book Publisher: 
						<br><select class="selectpicker" data-width="100%" name="bookPublisher" id="crtBkPubSel" data-live-search="true">
						<option value=-1 selected="selected">...</option>
						
						</select> 
						
						<br><br>New Book Authors: 
						<br><select name="addedAuthors" data-width="100%" class="selectpicker" id="crtBkAuthSel" data-live-search="true" multiple>
				        </select>
				        
						<br><br>New Book Genres: 
						<br><select name="addedGenres" data-width="100%" class="selectpicker" id="crtBkGenSel" data-live-search="true" multiple>
				        </select>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="javascript:addBook();" data-dismiss="modal">Add</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->