<div modal="createPublisherModal">
	<div class="modal-header">
		<h4 class="modal-title">Create Publisher</h4>
		<div class="modal-header">
			<div class="modal-body">
				New Publisher Name: <input type="text" class="form-control"
					ng-model='name' /> <br> New Publisher Address: <input
					type="text" class="form-control" ng-model='address' /> <br> New
				Publisher Phone: <input type="text" class="form-control"
					ng-model='phone' /> <br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="add()">Add</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
