<div modal="deletePublisherModal">
	<div class="modal-header">
		<h4 class="modal-title">Delete Publisher</h4>
		<div class="modal-header">
			<div class="modal-body">
				<p>Are you sure you want to delete publisher: '{{name}}'?</p>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
					<button type="button" class="btn btn-primary" ng-click="destory()">Delete</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>