<link rel="stylesheet" href="./Bootstrap/isteven-multi-select.css">
<div modal="editBookModal">
	<div class="modal-header">
		<h4 class="modal-title">Edit Book</h4>
		<div class="modal-header">
			<div class="modal-body">
				Book Title: <input type="text" name="title"
					class="form-control" ng-model='title'/> <br>Book
				Publisher:<br>
				<isteven-multi-select input-model="publishers"
					output-model="selectedPublisher" button-label="publisherName"
					item-label="publisherName" tick-property="ticked"
					selection-mode="single" search-property="publisherName"
					helper-elements="filter"> </isteven-multi-select>

				<br> <br>Book Authors: <br>
				<isteven-multi-select input-model="authors"
					output-model="selectedAuthros" button-label="authorName"
					item-label="authorName" tick-property="ticked"
					search-property="authorName" helper-elements="all reset filter">
				</isteven-multi-select>
				<br> <br>Book Genres: <br>
				<isteven-multi-select input-model="genres"
					output-model="selectedGenres" button-label="genreName"
					item-label="genreName" tick-property="ticked"
					search-property="genreName" helper-elements="all reset filter">
				</isteven-multi-select>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="update()">update</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
