<div modal="editAuthorModal">
	<div class="modal-header">
		<h4 class="modal-title">Edit Author</h4>
		<div class="modal-header">
			<div class="modal-body">
				Author Name: <input type="text" class="form-control" ng-model='name' />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="update()">update</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
